body {
    margin: 0;
    font-family: system-ui;
    font-family: "system-ui";
}

.coordsForm {
    width: 40px;
}

#form-vals {
    display: inline-block;
    vertical-align: top;
}

#coords {
    display: inline-block;
    width: 50%;
    text-align: left;
}

h3 {
    font-size: 17px;
    display: inline-block;
    font-weight: normal;
    display: inherit;
    text-align: left;
    margin: 0;
}

#coordDiv {
    text-align: left
}

h4 {
    font-size: 12px;
    display: inline-block;
    font-weight: normal;
    text-align: left;
    margin: 0;
}

#nav {
    display: inline-block;
    /*color: black;*/
    height: 100%;
    float: right;
    margin-right: 50px;
    font-size: 2vh;
    margin-top: 1.1em;
    padding: .5vh;
}

.canvas {
    position: absolute;
    width: inherit;
    height: inherit;
}

#trackerPopup {
    margin: 25% 35% 0% 35%;
    position: absolute;
    width: 30%;
    height: 20%;
    background: rgba(240, 240, 240, .5);
}

#main-section {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-family: myfont;
    display: inline;
}

.dot {
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    background-color: green;
    position: absolute;
    z-index: 1;
}

#head {
    height: 10%;
    background-color: lightgrey;
    margin-bottom: 50px;
}

.tracker {
    font-size: 2vh;
    padding: 2px;
    border-radius: 4px;
    background-color: #aba69f;
    color: white;
    margin: 5px;
    display: inline;
    /*position: absolute;*/
    z-index: 1;
    float: left;
}

.image .tracker {
    position: absolute;
}

.image {
    display: inline-block;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.4);
}

.traffic-signal {
    width: 20px;
    height: 20px;
    background-color: red;
}

.imageBox {
    background-color: blue;
    display: inline-block;
    text-align: center;
    position: relative;
    width: 100%;
}

.devicebox {
    border-style: solid;
    width: 30%;
    display: inline-block;
}

#winner-popup {
    width: 200px;
    padding: 50px;
    position: fixed;
    top: 100px;
    margin-top: -10;
    left: 38.2%;
    text-align: center;
    color: white;
    background-color: rgba(14, 20, 25, 0.89);
}

#overlay {
    display: inline-block;
    position: relative;
    min-width: 100px;
    min-height: 100px;
}

#layoutsBox {
    width: 10%;
    display: inline-block;
    vertical-align: top;
}

.row {
    margin: 0;
}

.square {
    background-color: rgb(169, 228, 237);
    display: inline-block;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    height: 50px;
}
